@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  overflow: hidden;
  color: #34373d;
}
i {
  font-size: 18px;
}
h3 {
  text-align: center;
  margin-bottom: 10px;
}
