.container {
  background-image: url("/src/img/myday.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 500px;
  margin: 5px auto;
  border-radius: 12px 12px 0 0;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(196, 193, 193, 0.5);
}
.content {
  margin: 10px 30px;
  height: 100vh;
}
